@import "variables";

html {
  font-size: 100%;
  background-color: #F2F2F2;
}

.heading {

  h1 {
    color: #D95B43;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }

}

#top-navigation {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  background-color: #F2F2F2;
  color: $blue-grey-text !important;
  li {
    a {
      color: $blue-grey-text;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
    a:hover {
      background-color: #F2F2F2;
      color: #D95B43;
    }
  }

  .brand-logo {
    color: $blue-grey-text;
    padding-left: 20px;
  }
}

#main-content {
  margin-bottom: 150px;
  .articles {
    article {

      h2 {
        font-size: 1em;
        color: $blue-grey-text;
        font-weight: bold;
      }

      header {
        a {
          color: $blue-grey-text;
        }
      }
      a {
        color: #D95B43;
      }
    }

    hr {
      border-bottom: thin dotted $aoi;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

footer {
  background-color: #D95B43 !important;

  .input-field {
    label {
      color: #FFFFFF;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .heading {

    h1 {
      //display: none;
    }
  }

  #top-navigation {
    background-color: #F2F2F2;
    .brand-logo {
      font-size: 1em;
      width: 100%;
      padding-left: 20px;
      text-align: center;
      color: #D95B43;
      font-weight: bold;
    }

    .button-collapse {
      color: $blue-grey-text;
    }
  }
}

